@media print {
  .header,
  .eapps-social-share-buttons,
  section.blog-post .blogpost,
  section.blog-post .blog,
  .store-benefits-footer,
  .newsletter-footer-section,
  .cd-footer {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }

}